<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Experienced Projects</title>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
<div class="head">
    <div id="picture">

        <img src="/images/face.jpg" style="width: 250px; height: 250px; vertical-align: middle" />

    </div>
    <div id="info">

        <div id="name">KiSeok Yang</div>
        <div id="address"><a href="https://github.com/yks095">Github</a></div>

    </div>
</div>
<div class="project">
    <button id="register"><a href="/project/register">추가</a></button>

    <div id="show_project" th:each="projects : ${projects_list}" style="background-color: white; border: solid; border-color: #269abc; border-radius: 8px; padding: 40px 40px 30px 10px; margin-bottom: 30px;">
        <h1 style="margin-left: 50px" id="projectName" th:text="${projects.name}" data-th-value="${projects.idx}" ></h1>
    </div>
</div>
</div>

<script th:src="@{/javascript/jquery.min.js}"></script>
<script th:src="@{/javascript/project.js}"></script>
</body>
</html>