<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Experienced Projects</title>
</head>
<body>

<br/><br/><br/>

<div class="showProject" th:each="project : ${show_project}">

    <div>
        <h3 class="show_name" type="text" name="name" th:text="${project.name}" th:value="${project.idx}" contenteditable="true"/>
        <h3 class="show_period" type="text" name="period" th:text="${project.period}" th:value="${project.idx}" contenteditable="true"/>
        <h3 class="show_persons" type="text" name="persons" th:text="${project.persons}" th:value="${project.idx}" contenteditable="true"/>
        <h3 class="show_description" type="text" name="description" th:text="${project.description}" th:value="${project.idx}" contenteditable="true"/>
    </div>

    <div>
        <button type="button" class="modifyButton" th:value="${project.idx}">수 정</button>
        <button type="button" class="completeButton" th:value="${project.idx}">O K</button>
    </div>


</div>
<script th:src="@{/javascript/jquery.min.js}"></script>
<script th:src="@{/javascript/project.js}"></script>
</body>
</html>